In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head(15)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Pakxan,LA,2022-04-30 03:43:42,18.3778,103.6601,90.01,39,95,2.10
1,1,Ngunguru,NZ,2022-04-30 03:39:34,-35.6167,174.5000,65.05,68,29,13.65
2,2,Key Largo,US,2022-04-30 03:43:43,25.0865,-80.4473,77.00,69,2,11.65
3,3,Barrow,US,2022-04-30 03:41:19,71.2906,-156.7887,15.82,79,100,18.41
4,4,Wahiawa,US,2022-04-30 03:43:43,21.5028,-158.0236,79.12,71,75,9.22
5,5,Vaini,TO,2022-04-30 03:41:10,-21.2000,-175.2000,73.56,100,100,5.75
6,6,Somerset East,ZA,2022-04-30 03:43:44,-32.7217,25.5880,48.47,88,0,1.68
7,7,Lata,PT,2022-04-30 03:34:00,40.1629,-8.3327,55.08,73,0,2.01
8,8,Solikamsk,RU,2022-04-30 03:43:45,59.6196,56.7729,37.00,50,5,8.95
9,9,Saint George,US,2022-04-30 03:43:46,37.1041,-113.5841,70.39,17,0,9.22
10,10,Ushuaia,AR,2022-04-30 03:43:46,-54.8000,-68.3000,35.26,87,20,4.61
11,11,Rangia,IN,2022-04-30 03:43:47,26.4667,91.6333,76.95,75,99,6.31
12,12,Hilo,US,2022-04-30 03:43:46,19.7297,-155.0900,77.29,85,100,12.66
13,13,Kodiak,US,2022-04-30 03:43:47,57.7900,-152.4072,42.31,81,100,29.93
14,14,Krasnoselkup,RU,2022-04-30 03:43:48,65.7000,82.4667,22.75,74,4,9.31

In [5]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [6]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [10]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [16]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [51]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Key Largo,US,2022-04-30 03:43:43,25.0865,-80.4473,77.00,69,2,11.65
4,4,Wahiawa,US,2022-04-30 03:43:43,21.5028,-158.0236,79.12,71,75,9.22
5,5,Vaini,TO,2022-04-30 03:41:10,-21.2000,-175.2000,73.56,100,100,5.75
9,9,Saint George,US,2022-04-30 03:43:46,37.1041,-113.5841,70.39,17,0,9.22
11,11,Rangia,IN,2022-04-30 03:43:47,26.4667,91.6333,76.95,75,99,6.31
12,12,Hilo,US,2022-04-30 03:43:46,19.7297,-155.0900,77.29,85,100,12.66
16,16,Kirakira,SB,2022-04-30 03:35:29,-10.4544,161.9205,83.71,73,100,2.24
18,18,Rikitea,PF,2022-04-30 03:43:49,-23.1203,-134.9692,77.13,68,100,16.15
19,19,Cabo San Lucas,MX,2022-04-30 03:43:50,22.8909,-109.9124,77.61,62,21,14.76
20,20,Carnarvon,AU,2022-04-30 03:39:20,-24.8667,113.6333,84.27,28,0,16.11

In [52]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       1
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [59]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
2        Key Largo      US     77.00  25.0865  -80.4473
4          Wahiawa      US     79.12  21.5028 -158.0236
5            Vaini      TO     73.56 -21.2000 -175.2000
9     Saint George      US     70.39  37.1041 -113.5841
11          Rangia      IN     76.95  26.4667   91.6333
12            Hilo      US     77.29  19.7297 -155.0900
16        Kirakira      SB     83.71 -10.4544  161.9205
18         Rikitea      PF     77.13 -23.1203 -134.9692
19  Cabo San Lucas      MX     77.61  22.8909 -109.9124
20       Carnarvon      AU     84.27 -24.8667  113.6333

In [54]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [68]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [73]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Key Largo,US,77.00,25.0865,-80.4473,Bayside Inn Key Largo
4,Wahiawa,US,79.12,21.5028,-158.0236,The Inn At Schofield
5,Vaini,TO,73.56,-21.2000,-175.2000,Keleti Beach Resort
9,Saint George,US,70.39,37.1041,-113.5841,Best Western Plus Abbey Inn
11,Rangia,IN,76.95,26.4667,91.6333,Kalita Tours & Travels - Trusted Travel Planne...
12,Hilo,US,77.29,19.7297,-155.0900,Hilo Hawaiian Hotel
16,Kirakira,SB,83.71,-10.4544,161.9205,SanBiz Lodge
18,Rikitea,PF,77.13,-23.1203,-134.9692,People ThankYou
19,Cabo San Lucas,MX,77.61,22.8909,-109.9124,Hotel Tesoro Los Cabos
20,Carnarvon,AU,84.27,-24.8667,113.6333,Hospitality Carnarvon

In [75]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [76]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""